SetEnv ZEND_OPTIMIZER 1
SetEnv PHP_VER 5

#Deny from all
ErrorDocument 404 http://ratemyspeaker.com/oops!

#--------------------------------------------------
# Répertoire : /articles/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Activation de la compréssion GZip :
#--------------------------------------------------

<IfModule mod_deflate.c>
  <FilesMatch "\.(js|css|php|eot|ttf|otf|svg)$">
    SetOutputFilter DEFLATE
    BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
    Header append Vary User-Agent env=!dont-vary
  </FilesMatch>
</IfModule>

#--------------------------------------------------
# Activation caching :
#--------------------------------------------------

<IfModule mod_expires.c>
	# 1 YEAR
	<FilesMatch "\.(ico|pdf|flv)$">
	Header set Cache-Control "max-age=29030400, public"
	</FilesMatch>
	# 1 WEEK
	<FilesMatch "\.(jpg|jpeg|png|gif|swf|css|js)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
	# 2 DAYS
	<FilesMatch "\.(xml|txt)$">
	Header set Cache-Control "max-age=172800, proxy-revalidate"
	</FilesMatch>
	# 1 MIN
	<FilesMatch "\.(html|htm|php)$">
	Header set Cache-Control "max-age=60, private, proxy-revalidate"
	</FilesMatch>
</IfModule>

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

Options +FollowSymlinks
Options +MultiViews
RewriteEngine on
RewriteRule ^(.*)\$ $1.php [NC]

RewriteRule ^logout$ index.php?page=logout [L]
RewriteRule ^oops!$ index.php?page=404 [L]
RewriteRule ^ranking$ index.php?page=ranking [L]

RewriteRule ^c/([a-zA-Z0-9_]+)$ index.php?page=conference&name=$1 [L]
RewriteRule ^c/([a-zA-Z0-9_]+)/([0-9]+)$ index.php?page=conference&name=$1&id=$2 [L]

RewriteRule ^s/([a-zA-Z0-9_]+)$ index.php?page=search&name=$1 [L]
RewriteRule ^s/([a-zA-Z0-9_]+)/([0-9]+)$ index.php?page=search&name=$1&id=$2 [L]

RewriteRule ^u/([a-zA-Z0-9_]+)$ index.php?page=user&pseudo=$1 [L]