html {
	background:#426777 !important;
}

.content{
	width:99%;
}

h1,h2{
	font-size:1.4em;
}

p1{
	font-size:1.3em;
}

p2{
	margin-top:0.4em;
	font-size:1.5em;
}

#description{
	margin-top:2em;
	margin-bottom:2em;
}

img.logo{
	margin: 0 auto;
	width:80%;
	margin-top:1em;
}

#search{
	margin-top:2em;
	margin-bottom:2em;
	margin:auto;
}

#speaker_name{
	width:85%;
	border: solid 1px black;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding-left:0.5em;
	padding-right:0.5em;
	font-size:1em;
	vertical-align:middle;
	margin:auto;
	
}

/*CSS Bouton */
.button {
	display: block;
	outline: none;
	margin-top:-0.1em;
	margin-bottom:0.1em;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: 0.8em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width:80%;
	margin:auto;
}

.button:active {
	display:block;
	margin:auto;
	width:80%;
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#twitter_button_connect {
	position:absolute;
	top:0;
	right:0.2em;
}	

#speaker_profile,#user_profile{
	width:90%;
}

#button_tweet_search{
	display:block;
	margin:0;
}

.attendee-about{
	margin-bottom:1em;
}
